<div class="border border-gray-200 rounded-2xl p-10 w-1/2 m-auto bg-blue-600/30 shadow-lg">

  <h2 class="text-center text-3xl">Créez votre compte</h2>

  

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <%= render "devise/shared/error_messages", resource: resource %>

  

    <div class="field mt-4">

      <%= f.label :email %><br />

      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full p-3 border border-gray-200 rounded-xl" %>

    </div>

  

    <div class="field mt-4">

      <%= f.label :password %>

      <% if @minimum_password_length %>

        <em>(<%= @minimum_password_length %> characters minimum)</em>

      <% end %><br />

      <%= f.password_field :password, autocomplete: "new-password", class: "w-full p-3 border border-gray-200 rounded-xl" %>

    </div>

  

    <div class="field mt-4">

      <%= f.label :password_confirmation %><br />

      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full p-3 border border-gray-200 rounded-xl" %>

    </div>

  

    <div class="actions mt-4">

      <%= f.submit "Créez le compte", class: 'text-white border border-blue-600 bg-blue-600 hover:bg-blue-700 hover:border-blue-700 rounded-xl px-4 py-2' %>

    </div>

  <% end %>

  

  <%= render "devise/shared/links" %>

</div>